.test-container{
    width: 750px;
}
.test-card{
    color: rgba(0, 0, 0, 0.801);
    background-color: rgba(221, 207, 207, 0.725);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}
.test-img{
    width: 60px;
    border-radius: 3rem;
    margin-bottom: 1rem;

}
.test-name{
    margin-bottom: 0.25rem;
}
/*            SWIPER class        */
.swiper-pagination-bullet{
    background-color: brown !important;
}
.swiper-pagination-bullet-active{
    background-color: brown !important;
}


@media screen and (max-width:768px){
    .test-container{
        width: initial;
    }
}