.about-container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
}
.about-img{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}
.about-info{
    grid-template-columns: repeat(3,140px);
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.about-box{
    box-shadow: rgba(50, 50, 93, 0.189) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.145) 0px 18px 36px -18px inset;
    background-color:#ffffffcb	;
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
    border: 0.7px solid black;
}
.about-icon{
    font-size: 1.5rem;
    color: #000;;
    margin-bottom: 0.5rem;
}
.about-tittle{
    font-size: normal;
    font-weight: 500;
}
.about-subtittle{
    font-size: 15px;
    color: rgb(84, 87, 90);

}
.about-description{
    padding:0 4rem 0 0  ;
    color: #353935;
    margin-bottom:2.5rem ;
}

@media screen and (max-width:992px){
   .about-container{
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
   }
   .about-img{
    width: 220px;
   }
   .about-box{
   
    padding: 0.75rem 0.5rem;
   }
   .about-data{
    text-align: center;
   }
   .about-info{
    justify-content: center;
   }
   .about-description{
    padding: 0 5rem;
    margin-bottom:2rem;
   }
  }

  @media screen and (max-width:576px) {
    .about-info{
        grid-template-columns: repeat(3,1fr);
    }
    .about-description{
        padding: 0;
    }
  }

  @media screen and (max-width:350px){
    .about-info{
        grid-template-columns: repeat(2,1fr);
    }
    
  }